body{
    /* background-image: linear-gradient(to bottom, #f066d8, #da4dda, #c035de, #9d20e4, #6d12eb); */
    background-attachment: fixed;
    background-color: black;
}
.c1{
    background-color:black;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow:black;
    color: white;
}
.c1 h2{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
}
form{
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: rgb(8, 8, 8);
}
form input,textarea{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid rgb(211, 201, 13);
}
form label{
    font-size: 15px;
    padding: 20px;
}
.sb{
    padding:10px;
    width:"100%";
    cursor: pointer;
    margin:5px;
    border-radius: 5px;
    border: 0px;
    background-color:rgb(96, 227, 19);
    color: black;
}
.rs{
    padding:10px;
    width:"100%";
    cursor: pointer;
    margin:5px;
    border-radius: 5px;
    border: 0px;
    background-color:rgb(224, 92, 52);
    color: black;
}

form button:hover{
        background-color:rgb(226, 225, 222);
        color:yellow;
        transition-duration: 0.5s;
}
.lbl{
    margin:0px;
    padding: 0px;
    color: yellow;
}
table{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width:100%;
}
table,thead,th{
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid yellow;
    color: yellow;
}
tbody,tr,td{
    padding: 10px;
    /* border-radius: 10px; */
    margin: 10px;
    align-items: center;
    border: 2px solid yellow;
    font-weight: bold;
}
table td{
    background-color:black;
}
.edt{
    padding:5px;
    width:"100%";
    cursor: pointer;
    margin:2px;
    border-radius: 5px;
    border: 0px;
    background-color:rgb(185, 185, 184);
    color: black;
}
.delt{
    padding:5px;
    width:"100%";
    cursor: pointer;
    margin:2px;
    border-radius: 5px;
    border: 0px;
    background-color:rgb(235, 89, 48);
    color:white
}